# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
.lighthouseci/

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
*.log
.env*
!.env.local.example

# editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# claude & local tools
.claude/
temp.js
temp_queries.ts
stitch_premium_event_showcase/

# vercel
.vercel

# sanity studio build artifacts
/dist/
/.sanity/

# typescript
*.tsbuildinfo
next-env.d.ts

